<h1>Data Indexing and Selection</h1>

<h3>Data Selection in Series</h3>

In [1]:
# A series object acts in many ways like a one dimensional array and in many ways like a Python dictionary
import numpy as np
import pandas as pd

<h5>Series as dictionary</h5>

In [2]:
data = pd.Series([0.25,0.5,0.75,1.0],
                 index=["a","b","c","d"]
                )
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [3]:
# Access data at a particular index
data["b"]

0.5

In [4]:
# We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:
"a" in data

True

In [5]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [7]:
# Series objects can even be modified with a dictionary like syntax.
data["e"] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [8]:
# This easy mutability of the objects is a convenient feature under the hood. Pandas is making decisions 
# about memory layout and data copying.

<h5>Series as one dimensional Array</h5>

In [9]:
# A series builds on dictionary like interface and provides array style item selection.
# slicing by explicit index
data["a":"c"]

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
# Slicing by implicity integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [11]:
# Masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [12]:
# Fancy indexing
data[["a","e"]]

a    0.25
e    1.25
dtype: float64

In [13]:
# When you are slicing with an explicit index the final index is included in the slice, while when you are slicing
# with an implicit index the final index is excluded from the slice.

<h5>Indexers: loc, iloc and ix</h5>

In [14]:
# If your series has an explicit integer index, an indexing operation such as data[1] will use the explicit 
# indices while slicing operation like data[1:3] will use implicit Python style index. 
data = pd.Series(["a","b","c"],index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [15]:
# explicit index when indexing
data[1]

'a'

In [16]:
# implicit index when indexing
data[1:3]

3    b
5    c
dtype: object

In [17]:
# Pandas provides some special indexer attributes that explicity expose certain indexing schemes. 
# These are not functional methods, but attributes that expose a particular slicing interface data in the Series.

# loc attribute allows indexing and slicing that always references the explicit index:
data.loc[1]

'a'

In [18]:
data.loc[1:3]

1    a
3    b
dtype: object

In [19]:
# The iloc attribute allows indexing and slicing that always references the implicit python style index
data.iloc[1]

'b'

In [20]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [21]:
# ix is a hybrid of the two and for Series Objects is equivalent to standar []-based indexing. 
# One guiding principle of Python code is that "explicit is better tan implicit".
data.ix[1]

AttributeError: 'Series' object has no attribute 'ix'

<h3>Data Selection in DataFrame</h3>

In [22]:
# Data Frame acts in many ways like a two dimensional or structured array

<h4>DataFrame as a dictionary</h4>

In [23]:
# The first analogy is the DataFrame as a dictionary of related series objects. 
area = pd.Series({
    "California":423967,
    "Texas":695662,
    "New York":141297,
    "Florida":170312,
    "Illinois":149995
})

population = pd.Series({
    "California":38332521,
    "Texas":26448193,
    "New York":19651127,
    "Florida":19552860,
    "Illinois":12882135
})

data = pd.DataFrame({
    "area":area,
    "population":population
})
data

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

In [24]:
# The individual Series that make up the columns of the DataFrame can be accessed via dictionary style indexing
# of the column name
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
# We can use attribute-style access with column names that are strings:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [26]:
# This attribute style column access actually accesses the same object as the dictionay style access:
data.area is data["area"]

True

In [27]:
# Avoid the temptation to try column assignment via attribute. 

# Dictionary style syntax can also be used to mdofy the object.
data["density"] = data["population"]/data["area"]
data

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

<h4>DataFrame as two-dimensional array</h4>

In [28]:
# We can view the data frame as an enhanced two dimensional array. 

# values attribute can be used to examine raw underlying data

data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [29]:
# We can transpose full data frame to swap rows and columns
data.T

,California,Texas,New York,Florida,Illinois
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [30]:
# When it comes to indexing of Dataframe objects, it is clear that the dictionary style indexing of columns 
# precludes our ability to simply treat it as Numpy array

# Passing single index to an array accesses row:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [31]:
# Passing a single index to a "DataFrame" accesses a column
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [32]:
# Pandas uses the loc, iloc, ix indexers as:

# iloc

data.iloc[:3,:2]

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127

In [33]:
# loc
data.loc[:"Illinois",:"population"]

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

In [34]:
# ix indexer uses the hybrid approach
data.ix[:3,:"population"]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [35]:
data.ix??

Object `data.ix` not found.

In [36]:
data.ix?

Object `data.ix` not found.

In [37]:
# Use of masking and fancy indexers along with loc
data.loc[data.density > 100, ["population","density"]]

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121

In [38]:
# any of the indexing conventions may also be used to set or modify values
data.iloc[0,2] = 90
data

              area  population     density
California  423967    38332521   90.000000
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

<h4>Additional Indexing Conventions</h4>

In [39]:
# While indexing refers to columns slicing refers to rows. 
data["Florida":"Illinois"]

            area  population     density
Florida   170312    19552860  114.806121
Illinois  149995    12882135   85.883763

In [40]:
# Such slices can refer to rows by number rather than by indexes:
data[1:3]

            area  population     density
Texas     695662    26448193   38.018740
New York  141297    19651127  139.076746

In [41]:
# Direct masking operations are also interpreted row - wise rather than column wise
data[data.density > 100]

            area  population     density
New York  141297    19651127  139.076746
Florida   170312    19552860  114.806121