<h1>Data Manipulation using Pandas</h1>

In [1]:
# Pandas is a package built on top of Numpy and provides an efficient implementation of a Dataframe.

# Dataframes are multidimensional arrays with attached rows and column labels, and often with heterogeneous type
# and or missing data. 

# Pandas implements a number of powerful data operations familiar to users of both database frameworks and 
# spreadsheet programs.

# Pandas and in particular its Series and DataFrame objects, builds on Numpy array structure and provides efficient
# access to "data munging" tasks that occupy much of data scientist's time. 

# Import pandas and check version
import pandas
pandas.__version__

'1.5.3'

In [2]:
# Alias for pandas import is pd
import pandas as pd

In [3]:
# To display all contents of pandas namespace we can use pd.<TAB>

In [4]:
# To display built-in documnetation, we can leverage:
pd?

<h3>Introducing Pandas Objects</h3>

In [5]:
# Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and
# columns are identified with labels rather than simple integer indices. 

# Import both numpy and pandas
import numpy as np
import pandas as pd

<h4>The Panda Series object</h4>

In [6]:
# A panda series is a one dimensional array of indexed data. It can be created from the array or list as follows:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
# The values are simply numpy arrays
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
# The index is an array like object of type pd.Index
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# Data can be accessed by the associated index via the square bracket notation
data[1]

0.5

In [10]:
data[1:3]

1    0.50
2    0.75
dtype: float64

<h5>Series as generalized NumPy Array</h5>

In [11]:
# The NumPy array has an implicitly defined integer index used to access the values, the Pandas Series has 
# an explicitly defined index associated with the values
# This explicit index definition gives the Series object additional capabilities

# Example: Index need not be an integer but can consist of values of any desired type
data = pd.Series([0.25,0.50,0.75,1.0], index=["a","b","c","d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
# Item access will work as:
data["b"]

0.5

In [13]:
# We can even use non-Contiguous or non-sequential indices. 
data = pd.Series([0.25, 0.50, 0.75, 1.0], index=["2","5","3","7"])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
# Item access will work as:
data["5"]

0.5

<h5>Series as specialized dictionary</h5>

In [29]:
# A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure
# that maps typed keys to a set of typed values

# The type information of Pandas Series is more efficient that an Python list for certain operations.
# Series object directly from Python Dictionary

population_dict = {
    "California":38222521,
    "Texas":26448193,
    "New York": 19651127,
    "Florida": 19552860,
    "Illinois": 12882135
}

population = pd.Series(population_dict)
population

California    38222521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
population["California"]

38222521

In [30]:
# Series also supports array-style operatons suhc as slicing
population["California":"Illinois"]

California    38222521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

<h5>Constructing Series Objects</h5>

In [19]:
# Index defaulting to integer with numpy array as argument
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [20]:
# Data can be scalar which is repeated to fill the specified index
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [21]:
# Data can be a dictionary in which index defaults to the sorted dictionary keys
pd.Series({2:"a",1:"b",3:"c"})

2    a
1    b
3    c
dtype: object

In [22]:
# The index can be explicitly set if a different result is preferred. 
pd.Series({2:"a",1:"b",3:"c"},index=[3,2])

3    c
2    a
dtype: object

<h4>Pandas DataFrame Object</h4>

In [23]:
# DataFrame can be thought of either as generalization of a NumPy array, or as a specialization of Python
# dictionary.

<h5>Dataframe as a generalized NumPy array</h5>

In [27]:
# A dataframe is an anlog of a two-dimensional array with both flexible indices and flexible column names 
# A dataframe can be thought of as alighned sequence of Series Objects, that is sharing the same index.

area_dict = {"California": 423967, "Texas":695662,"New York":141297,"Florida":170312,"Illinois":149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [31]:
states = pd.DataFrame({"population":population, "area":area})
states

            population    area
California    38222521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [32]:
# Dataframe has an index attribute that gives access to the index labels
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [33]:
# Dataframe has a columns attribute which is an index object holding the column labels.
states.columns

Index(['population', 'area'], dtype='object')

<h5>Dataframe as specialized Dictionary</h5>

In [34]:
# Dataframe can be thought of as specialization of a dictionary. A Dataframe maps a column name to Series of 
# column data. 
states["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

<h5>Constructing Dataframe objects</h5>

In [36]:
# From a single Series Object: A DataFrame is a collection of Series Objects and a single column DataFrame can be
# constructed from a single Series:
pd.DataFrame(population, columns=["population"])

            population
California    38222521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

<h5>From a list of dicts</h5>

In [37]:
# Any list of dictionaruies can be made into a DataFrame
data = [{"a":i,"b":2*i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [38]:
# Even if some keys are missing in the dictionary, pandas will fill them in with NaN values:
pd.DataFrame([{"a":1,"b":2},{"b":3,"c":4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

<h5>From Dictionary of Series Objects</h5>

In [39]:
# A Dataframe can be constructed using a dictionary of series objects:
pd.DataFrame({"population":population,"area":area})

            population    area
California    38222521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

<h5>From two dimensional NumPy Array</h5>

In [40]:
# Given a two dimensional array of data, we can create a DataFrame with any specified column and index names.
pd.DataFrame(np.random.rand(3,2),
             columns=["foo","bar"],
             index=["a","b","c"]
            )

        foo       bar
a  0.629916  0.568490
b  0.741269  0.874281
c  0.059463  0.537964

<h5>From a NumPy Structured Array</h5>

In [41]:
# A Pandas dataframe operates much like a structured Array and can be created directly from one
A = np.zeros(3, dtype=[("A","i8"),("B","f8")])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [42]:
# Create DataFrame
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

<h4>Pandas Index Object</h4>

In [43]:
# Index Object is an interesting structure in itself and it can be thought of either as an immutable array
# or as an ordered set

# Index from a list of integers
indices = pd.Index([2,3,5,7,11])
indices

Int64Index([2, 3, 5, 7, 11], dtype='int64')

<h5>Index as Immutable Array</h5>

In [44]:
# The index object operates like an array
indices[1]

3

In [45]:
# Slicing in indices
indices[::2]

Int64Index([2, 5, 11], dtype='int64')

In [46]:
# Index objects also have many attributes familiar with NumPy arrays:
print(indices.size, indices.shape, indices.ndim, indices.dtype)

5 (5,) 1 int64

In [47]:
# Indices are immutable they cannot be modified via the normal means
indices[1] = 0

TypeError: Index does not support mutable operations

<h5>Index as ordered set</h5>

In [48]:
# Pandas objects are designed to facilitate operations such as joins across datasets, which depend on 
# many aspects of set arithmetic

# The Index object follows many of the conventions used by Python's built in data structure, so that unions,
# intersections, differences and other combinations can be computed in a familiar way:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [49]:
# Intersection operation
indA & indB

/var/folders/c8/z4lh2j2s5kq5jvv28mrv0rw40000gn/T/ipykernel_78760/122942274.py:2: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [50]:
# Intersection Operation with .intersection method
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [51]:
# Union Operation
indA | indB

/var/folders/c8/z4lh2j2s5kq5jvv28mrv0rw40000gn/T/ipykernel_78760/649389361.py:2: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [52]:
# Union operation with .union method
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [53]:
# Symmetric Difference 
indA ^ indB

/var/folders/c8/z4lh2j2s5kq5jvv28mrv0rw40000gn/T/ipykernel_78760/503525079.py:2: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [54]:
# Symmetric Difference with .symmetric method
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')